<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359295127098-ceh5i3vghrn7f6f6g9n98ovjdd04lif0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359295127098-ceh5i3vghrn7f6f6g9n98ovjdd04lif0</string>
	<key>API_KEY</key>
	<string>AIzaSyCu5zmIP82grGRGxcp_PbHBlykGMR_uVgk</string>
	<key>GCM_SENDER_ID</key>
	<string>359295127098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velocitech.goCustomer</string>
	<key>PROJECT_ID</key>
	<string>velocitech-auto-go</string>
	<key>STORAGE_BUCKET</key>
	<string>velocitech-auto-go.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359295127098:ios:af0e5acd80f864138a2f03</string>
	<key>DATABASE_URL</key>
	<string>https://velocitech-auto-go-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>